<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu Docente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center" style="display: flex; align-items: center; height: 100vh;">
  <ion-card style="width: 90%; max-width: 400px;">
    <ion-card-header>
      <ion-card-title>Selecciona una opción</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-select [(ngModel)]="selectedOption">
        <ion-select-option value="asistencia">Generar Asistencia</ion-select-option>
        <ion-select-option value="mostrarAsistencia">Mostar Asistencia</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedOption === 'asistencia'" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Generar Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="stacked">Nombre de la Asignatura:</ion-label>
          <ion-input type="text" [(ngModel)]="nombreAsignatura" name="nombreAsignatura" aria-label="Nombre de la Asignatura"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="stacked">Cod Asignatura:</ion-label>
          <ion-input type="number" [(ngModel)]="codAsignatura" name="codAsignatura" aria-label="Cod Asignatura"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha: </ion-label>
          <ion-input type="date" [(ngModel)]="fecha" name="fecha" label="Fecha"></ion-input>
        </ion-item>
        
        <ion-button expand="full" (click)="registrarAsistencia()">Generar Codigo QR</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedOption === 'mostrarAsistencia'" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Mostar Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="stacked">Fecha: </ion-label>
          <ion-input type="date" [(ngModel)]="fecha" name="fecha" label="Fecha"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="mostrarAsistencia()">Mostrar Asistencia</ion-button>
      </form>
  
      <!-- Bloque para mostrar las asistencias -->
      <ion-list *ngIf="asistencias.length > 0">
        <ion-item *ngFor="let asistencia of asistencias">
          <!-- Muestra la asignatura y la fecha -->
          <ion-label>{{ asistencia.nombre_asignatura }} - {{ asistencia.fecha }}</ion-label>
          <!-- Puedes agregar más etiquetas según los campos que quieras mostrar -->
        </ion-item>
      </ion-list>
      <p *ngIf="asistencias.length === 0">No hay asistencias registradas para la fecha seleccionada.</p>
    </ion-card-content>
  </ion-card>