
/*Hipervinculo Recuperar contraseña*/
.link-style {
  color: blue; 
  text-decoration: underline;
  cursor: pointer; 
}


/* Centrar el boton ENTRAR*/
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  /* Estilos para el botón "Entrar" */
.button-container {
  margin-top: 20px; /* Espacio adicional desde la parte superior */
}

/* Animacion para card del Login */
@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplica la animación a la tarjeta */
.animated-card {
  animation: slide-in 2.0s ease;
}
