<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <div class="logo-container" style="text-align: center;">
      <img src="assets/Logo_2.png" alt="Logo de la aplicación" style="width: 250px; height: 250px;">
    </div>

    <!-- Primera parte: Mostrar boton entrar -->
    <div class="button-container" *ngIf="!showLoginCard">
      <ion-button class="button-animation" (click)="showLoginCard = true">
        Entrar
      </ion-button>
    </div>
  </ion-card-content>

  <!-- Segunda parte: Mostrando la card con los datos-->
  <ion-card *ngIf="showLoginCard" class="animated-card">
    <ion-card-header>
      <ion-card-title>Ingrese sus datos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label class="floating" position="floating">Correo</ion-label>
          <ion-input formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="floating" position="floating">Contraseña</ion-label>
          <ion-input formControlName="contraseña" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button class="button-animation" (click)="iniciarSesion()">
        Ingresar
      </ion-button>
      <div class="recuperar-contrasena">
        <a class="link-style" (click)="recuperarContrasena()">Recuperar contraseña</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="showLoginCard" class="animated-card">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button class="button-animation" [routerLink]="['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
