<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label class="floating" position="floating">Correo</ion-label>
          <ion-input formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="floating" position="floating">Contraseña</ion-label>
          <ion-input formControlName="contraseña" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button class="button-animation" (click)="ingresar()">
        Ingresar
      </ion-button>
      <div class="recuperar-contrasena">
        <a (click)="recuperarContrasena()">Recuperar contraseña</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button class="button-animation" [routerLink]="['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
