<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mostrar Datos</ion-title>
  </ion-toolbar>

<ion-card class="animated-card">
<ion-card-content>
  <ion-list>
    <ion-item>
      <ion-label class="custom-font">
        <ion-icon name="person" slot="start"></ion-icon>
        Nombre
      </ion-label>
      <ion-note slot="end" class="custom-font">{{ usuario.nombre }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label class="custom-font">
        <ion-icon name="mail" slot="start"></ion-icon>
        Correo
      </ion-label>
      <ion-note slot="end" class="custom-font">{{ usuario.correo }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label class="custom-font">
        <ion-icon name="school" slot="start"></ion-icon>
        Curso
      </ion-label>
      <ion-note slot="end" class="custom-font">{{ usuario.curso }}</ion-note>
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>
</ion-header>
