<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Menu Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card style="width: 90%; max-width: 400px;">
    <ion-card-header>
      <ion-card-title>Selecciona una opción</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-select [(ngModel)]="selectedOption">
        <ion-select-option value="EscanearQr">Registar Asistencia</ion-select-option>
        <ion-select-option value="mostrarAsistencia">Ver Asistencia</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedOption === 'EscanearQr'" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Escanear codigo QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

<ion-card *ngIf="selectedOption === 'mostrarAsistencia'" class="ion-text-center">
  <ion-card-header>
    <ion-card-title>Mostar Asistencia</ion-card-title>
  </ion-card-header>

  <ion-card-content>
<form>
  <ion-item>
    <ion-label position="stacked">Fecha:</ion-label>
    <ion-input type="date" [(ngModel)]="fecha" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
</form>
  </ion-card-content>
</ion-card>