<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-card style="width: 90%; max-width: 400px;">
    <ion-card-header>
      <ion-card-title>Selecciona una opción</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-select [(ngModel)]="selectedOption">
        <ion-select-option value="notas">Ver Notas</ion-select-option>
        <ion-select-option value="asistencia">Ver Asistencia</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedOption === 'notas'" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Notas del Alumno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Mostrar las notas y actividades aquí -->
      <!-- Puedes recorrer un arreglo de notas y actividades y mostrarlos en esta área -->
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedOption === 'asistencia'" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Asistencias del Alumno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Mostrar las asistencias aquí -->
      <!-- Puedes crear un cuadro de lunes a viernes y marcar las asistencias -->
    </ion-card-content>
  </ion-card>
</ion-content>
